include LICENSE
include README.md
include requirements.txt
include dev-requirements.txt
include 3d-requirements.txt
include win-requirements.txt
include environment.yml
recursive-include docs *.md *.rst *.txt
recursive-include skills *.md *.yaml *.py
prune docs/_build
